body,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


    
    .subcontainer{
       
        background-image: url('../../images/pattern-bg-desktop.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        position: relative;
    }
    
    .text{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 10px;
       

    }
    .searchbar{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:50px;
    }
    .input-text{
        border-style: none;
        border-radius: 10px 0px 0px 10px;
        width: 400px;
        height: 50px;
        padding: 10px;
    }
    .button{
        width: 50px;
        height: 52px;
        background-color: black;
        border-radius: 0px 10px 10px 0px;

    }
    .ip-info{
        display: flex;
        justify-content: center;
        align-items: center;
        // margin-top: 100px;
        gap: 80px;
        background-color: white;
        width: 80%;
        height: 120px;
        // margin-left: 140px;
        border-radius: 20px;
        padding: 30px;
        position: absolute;
        top:80%;
        left: 150px;
    }
    .vertical-line{
        width: 2px;
        border: 1px solid rgb(141, 139, 139);
        height: 70px;

    }
    
 


    
